1. Area of Triangle :
Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [ ]:
a=int(input("Enter length of 1st side: "))
b=int(input("Enter length of 2nd side: "))
c=int(input("Enter length of 3rd side: "))
if(a+b>c):
  s=(a+b+c)/2
  area=(s*(s-a)*(s-b)*(s-c))**(1/2)
  print("Area of the triangle is",round(area,3))
else:
  print("Triangle cannot be formed with given length")

Enter length of 1st side: 10
Enter length of 2nd side: 20
Enter length of 3rd side: 25
Area of the triangle is 94.992

2.	Take a string from end user and check if the value is palindrome or not

In [ ]:
string=input("Enter a string:")
if(string==string[::-1]):
    print("Given string is palindrome")
else:
    print("Given string is not palindrome")

Enter a string:malayalam
Given string is palindrome

3.	Write a program that reads a year from the user and displays a message 
Indicating whether or not it is a leap year.

In [ ]:
year=int(input("Enter the year: "))
if(year%400==0):
  print("Leap Year")
elif (year%4==0) and (year%100!=0):
  print("Leap Year")
elif(year%100==0):
  print("Not a leap year")
else:
  print("Not a Leap year")

Enter the year: 1700
Not a leap year

4.	 Space To Hyphen problem 
Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.

Input: “ This program converts spaces into hyphen”
      Output:     “ This-program-converts-spaces-into-hyphen”

In [ ]:
string=input("Enter a string: ")
x=string.replace(" ","-")
print("String After conversion:",x)

Enter a string: This program converts spaces into hyphen
String After conversion: This-program-converts-spaces-into-hyphen

5.	Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white

*Output*: cyan, green, magenta, orange, pink, red, white

In [ ]:
string=input("Enter a string ")
x=string.split()
x.sort()
list(x)
set(x)

Enter a string orange white red cyan green magenta cyan pink white

{'cyan', 'green', 'magenta', 'orange', 'pink', 'red', 'white'}

6.	Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [13]:
salary=int(input("Enter salary : "))
if (salary>=0) and (salary<=250000):
  tax="No tax"
elif (salary>250000) and (salary<=500000):
    tax=(salary*0.05)
elif (salary>500000) and (salary<=750000):
    tax=(salary*0.1)
elif (salary>750000) and (salary<=1000000):
    tax=(salary*0.15)
elif (salary>1000000) and (salary<=1250000):
    tax=(salary*0.2)
elif (sal>1250000) and (sal<=1500000):
    tax=(salary*0.25)
else:
    tax=(salary*0.3)
print("Tax is : ",tax)

Enter salary : 500000
Tax is :  25000.0

7.	Take a list of integers as an argument, and converts it into a single integer (return the integer).
*Input*: [11, 33, 50]
*Output*: 113350

In [ ]:
list1=[11,33,50]
for i in list1:
  print(i,end="")

113350

8.	Units of Time

Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
days=int(input("Enter number of days:"))
hours=int(input("Enter number of hours: "))
minutes=int(input("Enter number of minutes: "))
seconds=int(input("Enter number of seconds: "))
days=days*3600*24
hours*=3600
minutes*=60
total_seconds=days+hours+minutes+seconds
print("The total number of seconds are:",total_seconds)

Enter number of days:2
Enter number of hours: 4
Enter number of minutes: 8
Enter number of seconds: 10
The total number of seconds are: 187690

9.	Sort 3 Integers
Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [4]:
a=int(input("Enter a value: "))
b=int(input("Enter b value: "))
c=int(input("Enter c value: "))
minimum=min(a,b,c)
maximum=max(a,b,c)
middle=(a+b+c)-(minimum+maximum)
print("After sorting integers are:{},{},{}".format(minimum,middle,maximum))

Enter a value: 10
Enter b value: 15
Enter c value: 2
After sorting integers are:2,10,15

10.	Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
year=int(input("Enter the year : "))
month=int(input("Enter the month : "))
day=int(input("Enter the day: "))
if ((year% 4 == 0) and (year% 100!= 0)) or (year%400 == 0):
    if month==2:
        d1=29
    elif month in (1,3,5,7,8,10,12):
        d1=31
    else :
        d1=30
else:
    if month==2:
        d1=28
    elif month in (1,3,5,7,8,10,12):
        d1=31
    else :
        d1=30
if day==31 and month==12 :
    day=1
    month=1
    year+=1   
elif d1-day==0 :
    month+=1
    day=1
else:
    day+=1
print("Next day is : ",year,"/",month,"/",day)

Enter the year : 2020
Enter the month : 12
Enter the day: 31
Next day is :  2021 / 1 / 1

11.	Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]

Output: 121111200

In [ ]:
list1=[45,3,2,89,72,1,10,7]
product=1
for i in range(0,len(list1)):
  product=product*list1[i]
print(product)

121111200

12.	Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output

Output: Out_list=[11,14,42,123,90]

In [ ]:
Num_list=[5,6,8,34,89,1]
Out_list=[]
for i in range(0,len(Num_list)-1):
  sum=0
  sum=Num_list[i]+Num_list[i+1]
  Out_list.append(sum)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

13. Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output

Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
Num_tuple = (5, 6,8 ,3,9,1)
Out_list=[]
product=1
for i in range(0,len(Num_tuple)):
  product=product*Num_tuple[i]
  Out_list.append(product)
print("Out_list =",Out_list)

Out_list = [5, 30, 240, 720, 6480, 6480]

14.	 Write a Python code that takes a number and returns a list of its digits. 

So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
 #method1
 integer=int(input("Enter an integer: "))
 list1=[int(x) for x in str(integer)]
 print(str(list1))

Enter a integer: 586392
[5, 8, 6, 3, 9, 2]

In [14]:
#method2
integer=int(input("Enter an integer: "))
x=str(integer)
list1=list(x)
for i in range(0,len(list1)):
  list1[i]=int(list1[i])
print(list1)

Enter an integer: 987654
[9, 8, 7, 6, 5, 4]

15.	Write a program that finds the longest palindromic substring of a given string

In [ ]:
def longestpalindrome(s):
    d=[[False for i in range(len(s))] for i in range(len(s))]
    for i in range(len(s)):
        d[i][i]=True
    maxlen=1
    start=0
    for l in range(2,len(s)+1):
        for i in range(len(s)-l+1):
            end=i+l
            if l==2:
                if s[i]==s[end-1]:
                    d[i][end-1]=True
                    maxlen=l
                    start=i
            else:
                if s[i]==s[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=l
                    start=i
    return s[start:start+maxlen]
s=input("Enter a string : ")
print(longestpalindrome(s))

Enter a string : abbaccaaccdd
ccaacc

16.	 Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.

First two lines of input:

1010110010          10110

1110111011           10011

First two lines of output:

1

0

In [ ]:
test=int(input("Enter number of test cases: "))
while(test>0):
  string=input("Enter a string(of length 10): ")
  sub_string=input("Enter a sub string(of length 5): ") 
  if (string.find(sub_string) == -1): 
    print("0") 
  else: 
    print("1")
  test-=1

Enter number of test cases: 2
Enter a string(of length 10): 1010110010
Enter a sub string(of length 5): 10110
1
Enter a string(of length 10): 1110111011
Enter a sub string(of length 5): 10011
0

17. POUR1 - Pouring water
Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as 'steps':   
•	emptying a vessel,  
•	filling a vessel,  
•	pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.  
Input  
An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines.  
Output  
For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.

Example
Sample input:
2
5
2
3
2
3
4
 
Sample output:
2
-1

In [10]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    ves1=b
    ves2=0
    count=1
    while ((ves1 is not c) and (ves2 is not c)): 
        temp=min(ves1,a-ves2) 
        ves2=ves2+temp 
        ves1=ves1-temp 
        count=count+1
        if ((ves2==c)or(ves1==c)): 
            break
        if ves1==0: 
            ves1=b 
            count=count+1
        if ves2==a: 
            ves2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 2
Enter capacity to be obtained :3
Minimum number of steps required is :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
Minimum number of steps required is :  -1